* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.display {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.stats {
  z-index: 100;
  position: absolute;
  background-color: #00000022;
  padding: 3px;
  left: 10px;
  bottom: 10px;
}
